<div class="wizard">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <div class="row">
          <div class="col-md-6 active">
            <div class="number">
              1.
              <span></span>
            </div>
            Keyword Setup
          </div>
          <div class="col-md-6">
            <div class="number">
              2.
              <span></span>
            </div>
            Connect Twitter
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Setup your stream</h1>


      <% if flash[:error] -%>
        <div class="error">
          <%=h flash[:error] %>
        </div>
      <% end %>


s
      <%= form_for @lead_stream, url: {action: "create_lead_stream"}, html: {class: "nifty_form"} do |f| %>


        <p style="font-style: italic">
          Enter a simple name to remember your lead stream by
        </p>

        <%= f.text_field :name, class: "keywordBox", placeholder: "Name your stream", autofocus: true %>


        <p style="font-style: italic">
          Enter words that are more likely to occur in your target customer's tweet language.
        </p>

        <%= f.fields_for :keywords do |keywords_form| %>

          <%= keywords_form.text_field :term, class: "keywordBox", placeholder: "Keyword" %>

        <% end %>



        <div class="city_seperator">
          And
        </div>

        <%= f.text_field :city_name, class: "keywordBox", placeholder: "Enter a City" %>

        <%= f.submit "Save", :class => "btn btn_primary" %>


      <% end %>






    </div>
  </div>
</div>


