<div class="wizard">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <div class="row">
          <div class="col-md-6 active">
            <div class="number">
              1.
              <span></span>
            </div>
            Keyword Setup
          </div>
          <div class="col-md-6">
            <div class="number">
              2.
              <span></span>
            </div>
            Connect Twitter
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Setup your keywords</h1>
      <p>
        Enter words that are more likely to occur in your target customer's tweet language.
      </p>


      <div class="note">
        <span style="font-weight:bold;">Note:</span> During the beta you can select upto 3 keywords. After we launch you will be able to select more.
      </div>

      <% if flash[:error] -%>
        <div class="error">
          <%=h flash[:error] %>
        </div>
      <% end %>



      <%= form_for @lead_stream, url: {action: "create_lead_stream"}, html: {class: "nifty_form"} do |f| %>


        <%= f.fields_for :keywords do |keywords_form| %>

          <%= keywords_form.text_field :term, class: "keywordBox", placeholder: "Keyword", autofocus: true %>

        <% end %>



        <div class="city_seperator">
          And
        </div>

        <%= f.text_field :city_name, class: "keywordBox", placeholder: "Enter a City" %>

        <%= f.submit "Save", :class => "btn btn_primary" %>


      <% end %>






    </div>
  </div>
</div>


<!-- JAVASCRIPT -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<%= javascript_include_tag "dashboard/application", 'data-turbolinks-track' => true %>



<script>
  $('.keywordBox').jvFloat();
</script>
