<% token = Token.find_by_user_id(current_user.id) %>


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>Urbanzeak Dashboard</title>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta content="" name="description" />
  <meta content="" name="author" />

  <script src="//use.typekit.net/yjy6rjo.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>


  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <%= stylesheet_link_tag    'dashboard/application', media: 'all', 'data-turbolinks-track' => true %>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">



  <%= csrf_meta_tag %>

</head>
<body class="">
<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse">
  <!-- BEGIN TOP NAVIGATION BAR -->
  <div class="navbar-inner">
    <!-- BEGIN NAVIGATION HEADER -->
    <div class="header-seperation">
      <!-- BEGIN MOBILE HEADER -->
      <ul class="nav pull-left notifcation-center" id="main-menu-toggle-wrapper" style="display:none">
        <li class="dropdown">
          <a id="main-menu-toggle" href="#main-menu" class="">
            <div class="iconset top-menu-toggle-white"></div>
          </a>
        </li>
      </ul>
      <!-- END MOBILE HEADER -->
      <!-- BEGIN LOGO -->
      <a href="<%= dashboard_root_path %>">
        <!--<img src="assets/img/logo.png" class="logo" alt="" data-src="assets/img/logo.png" data-src-retina="assets/img/logo2x.png" width="106" height="21"/>-->
        <%= image_tag "logo_v3.png", class: "logo" %>
      </a>
      <!-- END LOGO -->
    </div>
    <!-- END NAVIGATION HEADER -->
    <!-- BEGIN CONTENT HEADER -->
    <div class="header-quick-nav">
      <!-- BEGIN HEADER RIGHT SIDE SECTION -->
      <div class="pull-right">
        <div class="chat-toggler" style="min-width: 0">
          <!-- BEGIN NOTIFICATION CENTER -->
          <a href="#" class="dropdown-toggle" id="my-task-list" data-placement="bottom" data-content="" data-toggle="dropdown" data-original-title="Notifications">
            <div class="user-details">
              <div class="username">
                <span class="badge badge-important">3</span>
                &nbsp;<span class="bold">&nbsp;<%= current_user_name %></span>
              </div>
            </div>
            <div class="iconset top-down-arrow"></div>
          </a>

          <div id="notification-list" style="display:none">
            <div style="width:300px">
              <div class="notification-messages info">
                <div class="message-wrapper" style="width: 100%; height: auto">
                  <div class="heading"> Website not found! </div>
                  <div class="description" style="font-size: 14px;">
                    We could not determine your website from your email
                    <br/>
                    <a href="" class="btn btn-small" style="font-size: 12px; margin-top: 5px;" data-toggle="modal" data-target="#notifications_modal">Set Website</a>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="notification-messages danger">
                <div class="iconholder"> <i class="icon-warning-sign"></i> </div>
                <div class="message-wrapper">
                  <div class="heading"> Server load limited </div>
                  <div class="description"> Database server has reached its daily capicity </div>
                  <div class="date pull-left"> 2 mins ago </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="notification-messages success">
                <div class="user-profile"> <img src="assets/img/profiles/h.jpg"  alt="" data-src="assets/img/profiles/h.jpg" data-src-retina="assets/img/profiles/h2x.jpg" width="35" height="35"> </div>
                <div class="message-wrapper">
                  <div class="heading"> You haveve got 150 messages </div>
                  <div class="description"> 150 newly unread messages in your inbox </div>
                  <div class="date pull-left"> An hour ago </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>



          <!-- END NOTIFICATION CENTER -->
          <!-- BEGIN PROFILE PICTURE -->
          <div class="profile-pic" style="margin-left: 15px">
            <!--<img src="assets/img/profiles/avatar_small.jpg" alt="" data-src="assets/img/profiles/avatar_small.jpg" data-src-retina="assets/img/profiles/avatar_small2x.jpg" width="35" height="35" />-->
            <%= token.profile_image_url.nil? ? (image_tag "no-profile-pic.png", width: 35, height: 35):(image_tag token.profile_image_url, width: 35, height: 35) %>
          </div>
          <!-- END PROFILE PICTURE -->
        </div>
        <!-- BEGIN HEADER NAV BUTTONS -->
        <ul class="nav quick-section" style="margin-left: 0">

          <li class="quicklinks"><span class="h-seperate"></span></li>
          <!-- BEGIN CHAT SIDEBAR TOGGLE -->
          <!-- BEGIN SETTINGS -->
          <li class="quicklinks">
            <a data-toggle="dropdown" class="dropdown-toggle pull-right" href="#" id="user-options">
              <div class="iconset top-settings-dark"></div>
            </a>
            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="user-options">
              <li><a href="<%= dashboard_account_path %>">Your Account</a></li>
              <li class="divider"></li>
              <li>
                <%= link_to('<i class="fa fa-power-off"></i>&nbsp;&nbsp;Logout'.html_safe, destroy_user_session_path, :method => :delete) %>
              </li>
            </ul>
          </li>
          <!-- END SETTINGS -->
          <!-- END CHAT SIDEBAR TOGGLE -->
        </ul>
        <!-- END HEADER NAV BUTTONS -->
      </div>
      <!-- END HEADER RIGHT SIDE SECTION -->
    </div>
    <!-- END CONTENT HEADER -->
  </div>
  <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->

<!-- BEGIN CONTENT -->
<div class="page-container row-fluid">
<!-- BEGIN SIDEBAR -->
<!-- BEGIN MENU -->
<div class="page-sidebar" id="main-menu">
  <div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper">
    <!-- BEGIN SIDEBAR MENU -->

    <ul style="margin-top: 30px;">
      <!-- BEGIN SELECTED LINK -->
      <li class="start active">
        <a href="<%= dashboard_root_path %>">
          <i class="fa fa-exchange"></i>
          <span class="title">Lead Streams</span>
          <span class="selected"></span>
        </a>
      </li>
      <!-- END SELECTED LINK -->
      <!-- BEGIN BADGE LINK -->
      <li class="">
        <a href="<%= dashboard_account_path %>">
          <i class="fa fa-user"></i>
          <span class="title">Account</span>
        </a>
      </li>
      <!-- END BADGE LINK -->
    </ul>
    <!-- END SIDEBAR MENU -->
  </div>
</div>

<!-- BEGIN SUSBSCRIPTION SIGN UP -->
<% if not_subscribed? %>
  <div class="footer-widget subscribe-now">
    <% if remaining_days <= 0 %>
      <span class="semi-bold">Trail Expired</span>
    <% else %>
      <span class="semi-bold"><%= remaining_days %> days</span> remaining!
    <% end %>

    <a href="<%= dashboard_account_plan_path %>" class="btn btn-white">Subscribe now</a>
  </div>
<% end %>


<!-- END SUSBSCRIPTION SIGN UP -->

<!-- BEGIN SCROLL UP HOVER -->
<a href="#" class="scrollup">Scroll</a>
<!-- END SCROLL UP HOVER -->
<!-- END MENU -->
<!-- END SIDEBAR -->
<!-- BEGIN PAGE CONTAINER-->
<div class="page-content">
  <div class="content">
    <%= yield %>

    <!-- BEGIN PAGE TITLE -->
    <!--<div class="page-title">-->
      <!--<h3>Master Page</h3>-->
    <!--</div>-->
    <!-- END PAGE TITLE -->
    <!-- BEGIN PlACE PAGE CONTENT HERE -->

    <!-- END PLACE PAGE CONTENT HERE -->


  </div>
</div>
<!-- END PAGE CONTAINER -->
<!-- BEGIN CHAT -->
<div class="chat-window-wrapper">
  <div id="main-chat-wrapper" class="inner-content">
    <div class="chat-window-wrapper scroller scrollbar-dynamic" id="chat-users">
      <!-- BEGIN CHAT HEADER -->
      <div class="chat-header">
        <!-- BEGIN CHAT SEARCH BAR -->
        <div class="pull-left">
          <input type="text" placeholder="search">
        </div>
        <!-- END CHAT SEARCH BAR -->
        <!-- BEGIN CHAT QUICKLINKS -->
        <div class="pull-right">
          <a href="#" class=""><div class="iconset top-settings-dark"></div></a>
        </div>
        <!-- END CHAT QUICKLINKS -->
      </div>
      <!-- END CHAT HEADER -->
      <!-- BEGIN GROUP WIDGET -->
      <div class="side-widget">
        <div class="side-widget-title">group chats</div>
        <div class="side-widget-content">
          <div id="groups-list">
            <ul class="groups">
              <li><a href="#"><div class="status-icon green"></div>Group Chat 1</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- END GROUP WIDGET -->
      <!-- BEGIN FAVORITES WIDGET -->
      <div class="side-widget">
        <div class="side-widget-title">favorites</div>
        <div class="side-widget-content">
          <!-- BEGIN SAMPLE CHAT -->

          <!-- END SAMPLE CHAT -->
        </div>
      </div>
      <!-- END FAVORITES WIDGET -->
      <!-- BEGIN MORE FRIENDS WIDGET -->
      <div class="side-widget">
        <div class="side-widget-title">more friends</div>

      </div>
      <!-- END MORE FRIENDS WIDGET -->
    </div>
    <!-- BEGIN DUMMY CHAT CONVERSATION -->
    <div class="chat-window-wrapper" id="messages-wrapper" style="display:none">
      <!-- BEGIN CHAT HEADER BAR -->
      <div class="chat-header">
        <!-- BEGIN SEARCH BAR -->
        <div class="pull-left">
          <input type="text" placeholder="search">
        </div>
        <!-- END SEARCH BAR -->
        <!-- BEGIN CLOSE TOGGLE -->
        <div class="pull-right">
          <a href="#" class=""><div class="iconset top-settings-dark"></div></a>
        </div>
        <!-- END CLOSE TOGGLE -->
      </div>
      <div class="clearfix"></div>
      <!-- END CHAT HEADER BAR -->
      <!-- BEGIN CHAT BODY -->
      <div class="chat-messages-header">
        <div class="status online"></div>
        <span class="semi-bold">Jane Smith(Typing..)</span>
        <a href="#" class="chat-back"><i class="icon-custom-cross"></i></a>
      </div>

    </div>
    <div class="chat-input-wrapper" style="display:none">
      <textarea id="chat-message-input" rows="1" placeholder="Type your message"></textarea>
    </div>
    <div class="clearfix"></div>
    <!-- END DUMMY CHAT CONVERSATION -->
  </div>
</div>
<!-- END CHAT -->
</div>
<!-- END CONTENT -->


<!-- Modal -->
<div class="modal fade" id="notifications_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <br>
        <i class="fa fa-credit-card fa-7x"></i>
        <h4 id="myModalLabel" class="semi-bold">We need your website</h4>
        <p class="no-margin">We use your website information to find out your business category to find appropriate leads for you and to determine  additional keywords as required</p>
        <br>
      </div>
      <form id="form_traditional_validation" action="#">
      <div class="modal-body">



        <div class="row-fluid">
          <div class="form-group">
            <label class="form-label">Amount</label>
            <span class="help">e.g. "5000"</span>
            <div class="input-with-icon  right">
              <i class=""></i>
              <input name="form1Amount" id="form1Amount" class="form-control" placeholder="Type to validate" type="text">
            </div>
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Save Website">
      </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->




<!-- BEGIN CORE JS FRAMEWORK-->

<%= javascript_include_tag "dashboard/application" %>

<!-- END CORE JS FRAMEWORK -->

<% if Rails.env.production? %>
  <script>
    window.intercomSettings = {
// TODO: The current logged in user's full name
//name: "John Doe",
// TODO: The current logged in user's email address.
      email: "<%= current_user.email %>",
// TODO: The current logged in user's sign-up date as a Unix timestamp.
      created_at: <%= current_user.created_at.to_time.to_i %>,
      app_id: "ddl8jii3"
    };
  </script>
  <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/ddl8jii3';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>

<% end %>




</body>
</html>