<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Urbanzeak Dashboard</title>

  <script src="//use.typekit.net/yjy6rjo.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <%= stylesheet_link_tag    'dashboard/application', media: 'all', 'data-turbolinks-track' => true %>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->




  <%= csrf_meta_tag %>

	

</head>
<body>

<div class="remodal-bg">

  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle toggle-left hidden-md hidden-lg" data-toggle="sidebar" data-target=".sidebar-left">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="brand">
        <a class="navbar-brand" href="#">
          <%= image_tag "urbanzeak-logo-webapp.png" %>
        </a>
      </div>

      <div class="actions">
        <i class="fa fa-bell"></i>
        <%# link_to('Logout', destroy_user_session_path, :method => :delete) %>
        <span style="">
          Prashant
          <span style="font-weight: bold">Angyan</span>
          <i class="fa fa-angle-down" style="font-size: .9em; font-weight: bold"></i>
        </span>
      </div>

    </div>
  </div>
  <!-- Begin page content -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-7 col-sm-2 col-md-2 sidebar sidebar-left sidebar-animate sidebar-md-show">
        <ul class="nav navbar-stacked">
          <li class="active">
            <a href="<%= dashboard_root_path %>">Leads</a>
              <ul>
                <li>LNew York</li>
              </ul>
          </li>
          <li>
            <a href="<%= dashboard_keyword_path %>">Keywords</a>
          </li>
        </ul>
      </div>
      <div class="main col-md-10 col-md-offset-2">
        <%= yield %>

      </div>

      <div class="col-xs-7 col-sm-3 col-md-3 sidebar sidebar-right sidebar-animate tweet_actions">
        <%= image_tag "reply-to-tweet.png", class: "img-responsive" %>

        <h4 class="bold">Replying to @<span id="replying_to"></span></h4>

        <p id="message_container">
          <span id="message_character_count"></span>
          <span>
          characters remaining
        </span>
        </p>


        <form action="" class="reply_form">
          <input type="hidden" value="" name="lead_id" id="lead_being_replied_to"/>
          <textarea name="" id="reply_message" placeholder="Enter reply" required="true"></textarea>
          <button class="btn btn_secondary" id="send_reply_button">Send Reply</button>
        </form>

      </div>

    </div>
  </div>

</div>



<!-- JAVASCRIPT -->
<%= javascript_include_tag "dashboard/application" %>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

<%= yield :join_message %>



<script>
  window.intercomSettings = {
    // TODO: The current logged in user's full name
    //name: "John Doe",
    // TODO: The current logged in user's email address.
    email: "<%= current_user.email %>",
    // TODO: The current logged in user's sign-up date as a Unix timestamp.
    created_at: <%= current_user.created_at.to_time.to_i %>,
    app_id: "ddl8jii3"
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/ddl8jii3';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>



</body>
</html>

