<div class="page-title">
  <h3><span class="semi-bold">Export - Leads</span></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="grid simple ">

      <div class="grid-body ">

        <table class="table table-hover table-condensed users_table" id="example">
          <thead>
          <tr>
            <th style="width:3%">Id</th>
            <th style="width:8%">Tweet Id</th>
            <th style="width:8%">Tweet</th>
            <th style="width:30%" data-hide="phone,tablet">Keyword</th>
          </tr>
          </thead>
          <tbody>

          <% @leads.each do |lead| %>
            <tr>
              <td><%= lead.id %></td>
              <td><%= lead.tweet_id %></td>
              <td><%= lead.tweet_body %></td>
              <% keyword = Keyword.find_by_id(lead.keyword_id) %>
              <td><%= keyword ? (keyword.term):"" %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <%= will_paginate %>
      </div>
    </div>
  </div>
</div>
