<div class="page-title" data-intro='Hello step one!' data-step="1">
  <h3>Admin <span class="semi-bold">Dashboard</span></h3>
</div>


<div class="row">
  <div class="col-md-4 col-vlg-3 col-sm-6">
    <div class="tiles green added-margin  m-b-20">
      <div class="tiles-body">
        <div class="tiles-title text-black text-center semi-bold">TOTAL USERS </div>
        <div class="text-center">
          <h1 style="color: white" class="semi-bold"><%= @total_users %></h1>
        </div>
      </div>
    </div>


  </div>
  <div class="col-md-4 col-vlg-3 col-sm-6">
    <div class="tiles blue added-margin  m-b-20">
      <div class="tiles-body">
        <div class="controller"> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
        <div class="tiles-title text-black">OVERALL LEADS CONTACTED </div>
        <div class="widget-stats">
        </div>
        <div class="widget-stats">
          <div class="wrapper transparent">
            <span class="item-title">Today's</span> <span class="item-count animate-number semi-bold" data-value="<%= @total_replies_user_sent_today %>" data-animation-duration="700"><%= @total_replies_user_sent_today %></span>
          </div>
        </div>
        <div class="widget-stats ">
          <div class="wrapper last">
            <span class="item-title">Weekly</span> <span class="item-count animate-number semi-bold" data-value="<%= @total_replies_user_sent %>" data-animation-duration="700"><%= @total_replies_user_sent %></span>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="col-md-4 col-vlg-3 col-sm-6">
    <div class="tiles purple added-margin  m-b-20">
      <div class="tiles-body">
        <div class="controller"> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
        <div class="tiles-title text-black">OVERALL REACH </div>
        <div class="widget-stats">
        </div>
        <div class="widget-stats">
          <div class="wrapper transparent">
            <span class="item-title">Today's</span> <span class="item-count animate-number semi-bold" data-value="<%= @reach_today %>" data-animation-duration="700"><%= @reach_today %></span>
          </div>
        </div>
        <div class="widget-stats ">
          <div class="wrapper last">
            <span class="item-title">Weekly</span> <span class="item-count animate-number semi-bold" data-value="<%= @total_reach %>" data-animation-duration="700"><%= @total_reach %></span>
          </div>
        </div>

      </div>
    </div>
  </div>


</div>

<div class="row">
  <div class="col-md-12">
    <div class="grid simple">
      <div class="grid-body no-border">
        <h3>Tweets vs <span class="semi-bold">Leads</span></h3>
        <p>
          A chart showing the number of tweets that came in vs the number of leads you got.
        </p>
        <br>
        <div id="placeholder" class="demo-placeholder" style="width:100%;height:450px;"></div>
      </div>
    </div>
  </div>
</div>






<!--RAILS CONTROLLER VALUES IN THE VIEW -- START-->
<%= include_gon %>
<!--RAILS CONTROLLER VALUES IN THE VIEW -- END-->



















The total number of available leads are: <%= @available_leads %>
<br>
The total number of users on the system is: <%= @total_users %>