<div class="page-header">
  <h1>
    Unchecked Tweets
  </h1>





</div>

<div class="row">
  <div class="col-md-12">
    <div class="grid simple">

      <div class="grid-body">
        <div class="opportunities">

          <ul>

            <% @unprocessed_tweets.each do |unprocessed_tweet| %>
              <li>
                <div class="row">
                  <div class="col-md-8">
                    <div class="tweet">
                      <%= unprocessed_tweet.tweet_body %>
                      <br/>
                      <%= unprocessed_tweet.geo_enabled %>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="actions">
                      <a href="#" class="btn btn-primary is_lead" data-id="<%= unprocessed_tweet.id %>" data-is-lead="true">Lead</a>
                      <a href="#" class="btn btn-danger is_lead" data-id="<%= unprocessed_tweet.id %>" data-is-lead="false">Not lead</a>
                    </div>
                  </div>
                </div>
              </li>
            <% end %>



          </ul>

          <div class="tiles white p-t-5 p-b-5 ">
            <div id="infinite-scrolling" style="float: right;">
              <%= will_paginate @unprocessed_tweets %>
            </div>
            <div class="clearfix"></div>
          </div>

        </div>
      </div>


    </div>
  </div>
</div>

