<!-- BEGIN PAGE TITLE -->
<div class="page-title">
  <h3 class="semi-bold" style="width: 100%;">
    Streams
    <% new_stream_button = "<span style='float: right;'><a href='#{dashboard_lead_streams_new_path}' class='btn btn-primary'>New Stream</a></span>" %>

    <%= @max_reached ? "":new_stream_button.html_safe %>

  </h3>

</div>
<!-- END PAGE TITLE -->


<!-- INITIAL SIGN UP MESSAGE -- START -->
<% if @new_user %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="alert alert-block alert-success fade in text-center">
        <button type="button" class="close" data-dismiss="alert"></button>
        <h4 class="alert-heading"><i class="icon-warning-sign"></i> Congratulations!</h4>
        <p>
          Thanks for signing up for Urbanzeak. It will take a few hours for your leads to begin showing up. We will send you can email as soon as we find your leads.
        </p>
      </div>
    </div>
  </div>
<% end %>

<!-- INITIAL SIGN UP MESSAGE -- END -->


<!-- BEGIN PlACE PAGE CONTENT HERE -->



<% @lead_streams.each_slice(2) do |row| %>
  <div class="row">
    <% row.each do |lead_stream| %>
      <div class="col-md-6">
        <div class="grid simple">
          <div class="grid-body">
            <div>
              <h3>
                <span class="semi-bold"><a href="/dashboard/leads/<%= lead_stream.id %>"><%= lead_stream.name.nil? ? "Leads in #{lead_stream.city_name}":lead_stream.name %></a></span>
                <a href="/dashboard/lead_streams/<%= lead_stream.id %>/edit" style="float: right;" class="btn btn-small">Edit Stream</a>
              </h3>

              <% keywords = Keyword.where(lead_stream_id: lead_stream.id) %>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>Keyword</th>
                  <th>Leads Today</th>
                </tr>
                </thead>

                <% keywords.each do |keyword| %>
                  <tr>
                    <td><%= keyword.term %></td>
                    <td><%= Lead.where(keyword_id: keyword.id).where("created_at >= ?", Time.zone.now.beginning_of_day).count %></td>
                  </tr>
                <% end %>

              </table>

            </div>

          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>


<!-- END PLACE PAGE CONTENT HERE -->