<div class="row">
  <div class="col-md-4 col-vlg-3 col-sm-6">
    <div class="tiles green m-b-10">
      <div class="tiles-body text-center">
        <div class="tiles-title text-black text-center">OVERALL TWEETS PROCESSED </div>

        <div class="widget-stats ">
          <div class="wrapper last">
            <span class="item-count animate-number semi-bold" data-value="<%= @unprocessed_count %>" data-animation-duration="700" style="font-size: 30px;">
              <%= @unprocessed_count %>
            </span>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="col-md-4 col-vlg-3 col-sm-6">
    <div class="tiles blue m-b-10">
      <div class="tiles-body text-center">
        <div class="controller"> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
        <div class="tiles-title text-black">TOTAL LEADS </div>
        <div class="widget-stats ">
          <div class="wrapper last">
            <span class="item-count animate-number semi-bold" data-value="<%= @lead_count %>" data-animation-duration="700" style="font-size: 30px;">
              <%= @lead_count %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-vlg-3 col-sm-6">
    <div class="tiles purple m-b-10 text-center">
      <div class="tiles-body">
        <div class="controller"> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
        <div class="tiles-title text-black">TOTAL REPLIES SENT</div>
        <div class="widget-stats ">
          <div class="wrapper last">
            <span class="item-count animate-number semi-bold" data-value="<%= @reply_count %>" data-animation-duration="700" style="font-size: 30px;"><%= @reply_count %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- BEGIN PAGE TITLE -->
<div class="page-title">
  <h3 class="semi-bold" style="width: 100%;">
    Streams
    <% new_stream_button = "<span style='float: right;'><a href='#{dashboard_lead_streams_new_path}' class='btn btn-primary'>New Stream</a></span>" %>

    <%= @max_reached ? "":new_stream_button.html_safe %>

  </h3>

</div>
<!-- END PAGE TITLE -->


<!-- INITIAL SIGN UP MESSAGE -- START -->
<% if @new_user %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="alert alert-block alert-success fade in text-center">
        <button type="button" class="close" data-dismiss="alert"></button>
        <h4 class="alert-heading"><i class="icon-warning-sign"></i> Congratulations!</h4>
        <p>
          Thanks for signing up for Urbanzeak. It will take a few hours for your leads to begin showing up. We will send you can email as soon as we find your leads.
        </p>
      </div>
    </div>
  </div>
<% end %>

<!-- INITIAL SIGN UP MESSAGE -- END -->


<!-- BEGIN PlACE PAGE CONTENT HERE -->



<% @lead_streams.each_slice(2) do |row| %>
  <div class="row">
    <% row.each do |lead_stream| %>
      <div class="col-md-6">
        <div class="grid simple">
          <div class="grid-body">
            <div>
              <h3>
                <span class="semi-bold"><a href="/dashboard/leads/<%= lead_stream.id %>"><%= lead_stream.name.nil? ? "Leads in #{lead_stream.city_name}":lead_stream.name %></a></span>
                <!--<a href="/dashboard/lead_streams/<%= lead_stream.id %>/edit" style="float: right;" class="btn btn-small">Edit Stream</a>-->
                <button class="btn btn-small edit-stream" data-toggle="modal" data-target="#myModal" style="float: right;" data-id="<%=  lead_stream.id%>">Edit Keywords</button>
              </h3>

              <% keywords = Keyword.where(lead_stream_id: lead_stream.id).where(admin_created: nil).where.not(archived: true) %>

              <% if keywords.empty? %>

                <div class="alert m-t-20">
                  Looks like there are not leads yet. We will send you an email as soon as we find your first lead
                </div>

              <% else %>
                <table class="table table-striped" id="<%= lead_stream.id %>">
                  <thead>
                  <tr>
                    <th>Keyword</th>
                    <th>Leads Today</th>
                    <th>Tweets Processed</th>

                  </tr>
                  </thead>

                  <% keywords.each do |keyword| %>
                    <tr id="keyword_<%= keyword.id %>">
                      <td><%= keyword.term %></td>
                      <% lead_count = Lead.where(keyword_id: keyword.id).where("created_at >= ?", Time.zone.now.beginning_of_day).count %>
                      <td>
                        <% if lead_count > 0 %>
                          <span class="label label-success"><%= lead_count %></span>
                        <% else %>
                          <span class="label label-important"><%= lead_count %></span>
                        <% end %>
                      </td>

                      <% tweet_count = UnprocessedTweet.where(keyword_id: keyword.id).count %>
                      <td>
                        <span class="bold"><%= tweet_count %></span>
                      </td>
                    </tr>
                  <% end %>

                </table>

                <a href="/dashboard/leads/<%= lead_stream.id %>" class="btn btn-primary btn-small">View All Leads Now</a>
              <% end %>



            </div>

          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <br>
        <i class="fa fa-exchange fa-7x"></i>
        <h4 id="myModalLabel" class="semi-bold">Edit Keywords</h4>
        <br>
      </div>
      <div class="modal-body" style="background: none;">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<input type="hidden" value="" name="lead_stream_edit_id" id="lead_stream_edit_id"/>
<input type="hidden" value="" name="keyword_count" id="keyword_count"/>


<!-- END PLACE PAGE CONTENT HERE -->