<div class="pricing_table">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <table>
          <!--HEADER START-->
          <tr>
            <th class="title_column_header">Features</th>
            <th class="text-center">
              <p class="title_bold">Restaurants</p>
              Starting from $99
            </th>
            <th class="text-center">
              <p class="title_bold">Agencies</p>
              Starting from $399
            </th>
          </tr>
          <!--HEADER END-->
          <tbody>
          <tr>
            <td>
              Unlimited leads
            </td>
            <td class="text-center"><%= image_tag "status_available.png" %></td>
            <td class="text-center"><%= image_tag "status_available.png" %></td>
          </tr>
          <tr>
            <td>
              Local Leads
            </td>
            <td class="text-center"><%= image_tag "status_available.png" %></td>
            <td class="text-center"><%= image_tag "status_available.png" %></td>
          </tr>
          <tr>
            <td>
              Unlimited Cities
            </td>
            <td class="text-center"></td>
            <td class="text-center"><%= image_tag "status_available.png" %></td>
          </tr>
          <tr>
            <td>
              Unlimited Streams
            </td>
            <td class="text-center"></td>
            <td class="text-center"><%= image_tag "status_available.png" %></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>