<div class="main-wrapper">

<!-- =========================
     PRELOADER
============================== -->
<div class="preloader">
  <div class="loader-container">
    <div class="text-logo">
      <%= image_tag "logo_white.png" %>
    </div>
    <div class="signal"></div>
  </div>
</div>


<!-- =========================
     HEADER
============================== -->
<header class="header" id="top" data-stellar-background-ratio="0.5">
  <!-- Background Overlay -->
  <div class="overlay">

    <!-- =========================================
         Navigation
    ========================================== -->
    <nav class="navbar navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!-- Navbar-Header -->
            <div class="navbar-header">

              <!-- Mobile Menu -->
              <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                <i class="icon icon_menu"></i>
              </button>

              <!-- Text-Logo -->
              <a href="#top" class="navbar-brand scrollto" title="Urbanzeak">
                <span class="text-logo"><%= image_tag "logo_white.png" %></span>
              </a>

            </div><!-- /End Navbar-Header -->

            <!-- Navbar-Collapse -->
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <!-- Menu Items -->
                <li><a href="#about" title="" class="scrollto">What Is Urbanzeak</a></li>
                <li><a href="#features" title="" class="scrollto">Features</a></li>
                <li><a href="#what_you_get" title="" class="scrollto">What you get</a></li>
                <li><a href="#testimonials" title="" class="scrollto">Testimonials</a></li>
                <li><a href="#newsletter" title="" class="scrollto">Contact Us</a></li>
                <!-- Login and Signup Modal on click -->
                <!--<li><a href="" class="btn btn-nav">Login</a></li>-->
                <li><%= link_to('Login', new_user_session_path, class: "btn btn-nav")  %></li>
                <li><a href="#canvas-bg" class="btn btn-nav btn-color scrollto">Sign Up</a></li>
              </ul>
            </div><!-- /End Navbar-Collapse -->
          </div><!-- /End Col -->
        </div><!-- /End Row -->
      </div><!-- /End Container -->
    </nav><!-- /End Sticky Navigation -->


    <!-- =========================================
         Login/Signup Bootstrap Modal
    ==========================================  -->
    <div class="modal fade login" id="loginModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal-Header -->
          <div class="modal-header">
            <!-- Close Button -->
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="icon icon_close_alt2"></i>
            </button>
            <!-- Modal-Header Title-->
            <h4 class="modal-title">Sign in to <span>Smartmvp</span></h4>
            <p class="modal-subtitle">Enter your email and password</p>
          </div><!-- /End Modal-Header -->

          <!-- Modal-Body Content -->
          <div class="modal-body">
            <div class="box">
              <div class="content">
                <!-- Login Form -->
                <div class="loginBox">
                  <form id="login-modal" role="form">
                    <!-- Success/Alert Notification -->
                    <p class="lm-success"><i class="icon icon_check_alt2"></i> <strong>Congratulation! Login modal validation is working. Implement your code.</strong></p>
                    <p class="lm-failed"><i class="icon icon_close_alt2"></i><strong> Something went wrong! Insert correct value.</strong></p>
                    <!-- Input Fields -->
                    <input id="lm-email" class="form-control input-lg" type="text" placeholder="Email" name="lm-email" required>
                    <input id="lm-password" class="form-control input-lg" type="password" placeholder="Password" name="lm-password" required>
                    <!-- Login Button -->
                    <button class="btn btn-color">Login</button>
                  </form>
                </div><!-- /End Login Form -->
              </div>
            </div><!-- /End Login Form Box -->
            <div class="box">
              <!-- Signup Form -->
              <div class="content registerBox" style="display:none;">
                <form id="signup-modal" role="form">
                  <!-- Success/Alert Notification -->
                  <p class="sm-success"><i class="icon icon_check_alt2"></i> <strong>Congratulation! Signup modal validation is working. Implement your code.</strong></p>
                  <p class="sm-failed"><i class="icon icon_close_alt2"></i><strong> Something went wrong! Insert correct value.</strong></p>
                  <!-- Input Fields -->
                  <input id="sm-email" class="form-control input-lg" type="text" placeholder="Email" name="sm-email" required>
                  <input id="sm-password" class="form-control input-lg" type="password" placeholder="Password" name="sm-password">
                  <input id="sm-confirm" class="form-control input-lg" type="password" placeholder="Repeat Password" name="sm-confirm">
                  <!-- Signup Button -->
                  <button class="btn btn-color">Create Account</button>
                </form>

              </div><!-- /End Signup Form -->
            </div><!-- /End Signup Form Box -->
          </div><!-- /End Modal-Body -->

          <!-- Modal-Footer -->
          <div class="modal-footer">
            <!-- Login-Footer. Redirect to Signup-Modal-->
            <div class="forgot login-footer">
                                    <span>Don't have an account?
                                         <a href="javascript: showRegisterForm();">Sign up.</a>
                                    </span>
            </div>
            <!-- Signup-Footer. Redirect to Login-Modal -->
            <div class="forgot register-footer" style="display:none">
              <span>Already have an account?</span>
              <a href="javascript: showLoginForm();">Login</a>
            </div>
          </div><!-- /End Modal-Footer -->

        </div><!-- /End Modal Content -->
      </div><!-- /End Modal Dialog -->
    </div><!-- /End Modal -->


    <!-- =========================================
         Hero-Section
    ========================================== -->
    <div class="container vmiddle">
      <div class="row">
        <div class="col-md-8">
          <div class="hero-section">

            <!-- Welcome - Hero Message -->
            <h1 class="text-white">AI Powered Twitter Marketing</h1>
            <p class="text-white">Automatically mine conversations on Twitter to find your customers</p>

            <!-- Learn More & Video Buttons -->
            <div class="btn-box">
              <a href="#about" class="btn btn-ghost scrollto">Learn More</a>
              <!-- Video Lightbox on Click -->
              <a href="http://youtu.be/SZEflIVnhH8" data-type="youtube" class="btn btn-color venobox"><i class="icon arrow_triangle-right_alt"></i>Play video</a>
            </div>

          </div><!-- /End Intro-Section -->
        </div><!-- /End Col -->
      </div><!-- /End Row -->
    </div><!-- /End Container Hero-Section -->


  </div><!-- /End Background Overlay -->
</header>
<!-- =========================
     /END HEADER
============================== -->


<!-- =================================
     SECTION ABOUT - INTRO FEATURES
====================================== -->
<section class="intro-features" id="about">
  <div class="container">
    <!-- Padding -->
    <div class="wrapper-lg">
      <div class="row">
        <!-- Section Header Title -->
        <div class="col-xs-12">
          <h2>Power your twitter outreach with the magic of AI</h2>
        </div>
      </div>
    </div><!-- /End Wrapper -->
  </div><!-- /End Container -->
</section>
<!-- =============================
     /END INTRO FEATURES
============================== -->


<!-- ==================================================
     SECTION 2 COLS - IMAGE RIGHT AND TEXT WITH CALL TO ACTION
======================================================= -->
<section class="img-with-action light-bg">
  <div class="container wrapper-lg">
    <div class="row">
      <div class="col-lg-5 col-md-5">
        <!-- Text Col -->
        <h3 style="line-height: 1.4em">
          Find your customers instantly without ever searching for them
        </h3>
        <p>
          Imagine you open your dashboard and find your perfect leads always! People who are looking for your product right now. Or people who have bought from your competitors. With all the conversations right there in your dashboard, ready for you to jump into.
        </p>
        <p style="margin-top: 15px;">
          That is what Urbanzeak does for you! It reads through tweets. Understanding each one  to find the perfect match for you. Eliminating spam. Eliminating sales pitches. Eliminating those mundane conversations.
        </p>
        <!-- Call To Action Buttons -->
        <div class="btn-box">
          <a href="#features" class="btn btn-grey scrollto">Learn More</a>
          <a href="#canvas-bg" class="btn btn-color scrollto"><i class="icon arrow_carrot-2dwnn_alt"></i>Try it for Free</a>
        </div>
        <!-- Div Required for Correct Charts Animation -->
        <div class="start-charts"></div>
      </div>
    </div><!-- /End Row-->
  </div><!-- /End Container-->
  <!-- Image Col -->
  <div class="hidden-sm hidden-xs col-md-6 img-col-bg img-right"></div>
</section>
<!-- =============================
     /END SECTION
============================== -->



<!-- ==================================================
    FEATURES SECTION
======================================================= -->
<section class="tab-features color-bg" id="features">
  <div class="container">
    <div class="features-title">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-white">Explore Features</h2>
          <p class="large text-white">All the features you need to find your perfect customers</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <!-- Features Tab -->
      <div class="tabs features tab-container">
        <ul class="etabs">
          <!-- Feature Icon -->
          <li class="tab">
            <a href="#tab-feature-1">
              <div class="icon-sm">
                <i class="icon icon-layers"></i>
              </div>
              <h5 class="text-white">Unified Dashboard</h5>
            </a>
          </li>
          <!-- Feature Icon -->
          <li class="tab">
            <a href="#tab-feature-2">
              <div class="icon-sm">
                <i class="icon icon-pictures"></i>
              </div>
              <h5 class="text-white">Engage</h5>
            </a>
          </li>
          <!-- Feature Icon -->
          <li class="tab">
            <a href="#tab-feature-3">
              <div class="icon-sm">
                <i class="icon icon-grid"></i>
              </div>
              <h5 class="text-white">Track</h5>
            </a>
          </li>

        </ul><!-- /End Etabs -->

        <div class="panel-container">

          <div class="tab-content" id="tab-feature-1">
            <div class="container">
              <div class="row">
                <!-- Feature Description 2cols Text-Left with Buttons -->
                <div class="col-md-5 col-sm-6">
                  <h4>Urbanzeak’s AI starts mining customers and shows it on your dashboard</h4>
                  <p>
                    Urbanzeak combines powerful natural language filters with your keywords, analyzes thousands of tweets, eliminates spam/noise and identifies people on Twitter who have shown an interest  to identify people on Twitter who would be interested in your products or services.
                  </p>
                  <p>
                    Urbanzeak lists all your customers in a clean, simple and interactive dashboard.
                  </p>
                </div>
                <!-- Image-right -->
                <div class="col-md-7 col-sm-6 hidden-xs wow fadeInRight" data-wow-duration="2s">
                  <%= image_tag "dashboard-ipad.png" %>
                </div>
              </div>
            </div>
          </div><!-- /End Tab-content -->

          <div class="tab-content" id="tab-feature-2">
            <div class="container">
              <div class="row">
                <!-- Feature Description 2cols Text-Right with Icons -->
                <div class="col-xs-12 col-sm-6 col-sm-push-6 col-lg-7 col-lg-push-5">
                  <h4>Start engaging your target customer</h4>
                  <p>
                    Visit your personalized dashboard. Find your customers listed there and start engaging your customers immediately by “Reply” or “Follow” buttons.
                  </p>


                </div>
                <!-- Image-Left -->
                <div class="col-xs-12 col-sm-6 col-sm-pull-6 col-lg-5 col-lg-pull-7 hidden-xs wow fadeInLeft" data-wow-duration="2s">
                  <!--<img src="assets/images/features/feature2.png" class="img-device" alt="">-->
                  <%= image_tag "feature2.png", class:"img-device"  %>

                </div>
              </div>
            </div>
          </div><!-- / End Tab-content -->

          <div class="tab-content" id="tab-feature-3">
            <div class="container">
              <div class="row">
                <!-- Feature Description 2cols Text-Left -->
                <div class="col-md-5 col-sm-6">
                  <h4>SmartMvp is a fully responsive landing page template with awesome features and interactive elements.</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius non velit optio veniam reprehenderit quod! Maiores asperiores dolorem doloremque tempore reiciendis voluptatem expedita, tempora, deserunt ducimus impedit animi quis eum, itaque laudantium ea perferendis nisi.</p>
                </div>
                <!-- Image-Right -->
                <div class="col-md-7 col-sm-6 hidden-xs wow fadeInRight" data-wow-duration="2s">
                  <img src="assets/images/features/feature3.png" alt="">
                </div>
              </div>
            </div>
          </div><!-- /End Tab-content -->




        </div><!-- / End Panel-Container -->
      </div><!-- / End Tabs -->
    </div><!-- /End Col -->
  </div><!-- /End Row -->
</section>
<!-- =============================
     /END FEATURES TAB
============================== -->

<!-- ==================================================
    KEY BENEFITS SECTION
======================================================= -->
<section class="charts light-bg" id="what_you_get">
  <div class="container">
    <div class="wrapper-lg">
      <div class="row">
        <div class="col-md-12">
          <h2>Urbanzeak helps you</h2>
          <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <!--                                <p class="large"></p>    -->
              <ul class="benefits_list large">
                <li>Grow your followers</li>
                <li>Drive more traffic to your website</li>
                <li>Reach more people with your message</li>
                <li>Only talk to people interested in your product</li>
              </ul>
            </div>
          </div>

        </div>
      </div>


    </div><!-- /End Wrapper -->
  </div><!-- /End Container -->
</section>
<!-- =============================
     /END KEY BENEFITS SECTION
============================== -->



<!-- ==================================================
    SIGNUP DIVIDER
======================================================= -->
<%= render 'signup' %>
<!-- =============================
     /END SIGNUP SECTION
============================== -->




<!-- ==================================================
    TESTIMONIALS SECTION
======================================================= -->
<%= render 'testimonials' %>
<!-- =============================
     /END TESTIMONIALS SECTION
============================== -->






<!-- ==================================================
    NEWSLETTER AND SOCIAL DIVIDER
======================================================= -->
<section class="newsletter color-bg" id="newsletter">
  <div class="container">
    <div class="wrapper-sm">
      <div class="row">
        <div class="col-md-6">
          <!-- =========================
              Social Icons
          ============================== -->
          <div class="table">
            <div class="table-row">
              <div class="table-cell follow">
                <h5 class="table-title">Follow Us</h5>
              </div>
              <div class="table-cell">
                <ul class="social-list">
                  <li>
                    <a href="http://twitter.com/urbanzeak">
                      <i class="icon icon-twitter"></i>
                    </a>
                  </li>
                </ul>
              </div><!-- /End Table-Cell -->
            </div><!-- /End Table-Row -->
          </div><!-- /End Table -->
        </div><!-- /End Col -->

        <div class="col-md-6">
          <!-- =========================
              MAILCHIMP SUBSCRIPTION FORM
          ============================== -->
          <form class="mailchimp-subscribe" role="form" style="padding-top: 10px;">
            <div class="table">
              <div class="table-row">
                <div class="table-cell getnewsletter">
                  <h5 class="table-title">Talk to Us</h5>
                </div>
                <div class="table-cell">
                  <div class="input-group text-white">
                    hello@urbanzeak.com
                  </div><!-- /End Input Group -->
                </div><!-- /End Table-Cell -->
              </div><!-- /End Table-Row -->
            </div><!-- /End Table -->

          </form><!-- /End Mailchimp Subscribe Form -->



        </div><!-- /End Col -->
      </div><!-- /End Row -->
    </div><!-- End Wrapper -->
  </div><!-- /End Container -->
</section>
<!-- =============================
     /END NEWSLETTER SECTION
============================== -->


<!-- ==================================================
    FOOTER
======================================================= -->
<footer class="footer dark-bg" id="footer">
  <div class="container">
    <div class="wrapper-lg" style="padding: 0 0 20px 0">


        <!-- Footer Menu and Copy -->
        <div class="row">
          <div class="col-md-12">
            <ul class="footer-nav" style="margin-top: 20px;">
              <li>
                <a href="http://blog.urbanzeak.com">Blog</a>
              </li>
              <li>
                <a href="policies/terms_and_conditions">Terms</a>
              </li>
              <li>
                <a href="policies/privacy_policy">Privacy</a>
              </li>
            </ul>
            <p class="footer-copy">&copy; 2015 - Urbanzeak </p>
          </div>
        </div><!-- End Row -->
    </div><!-- /End Wrapper -->
  </div><!-- /End Container -->
</footer>

</div><!-- /End Main Wrapper -->