<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= image_tag "logo_v3.png", class: 'img-responsive' %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="primarySell">
          <h1>
            Find your customers on Twitter
          </h1>
          <h4>
            Start engaging people that really matter to your business
          </h4>
          <a href="#footer">Start free trail now</a>


          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <%= image_tag "header_screenshot_social_media.png", class: "img-responsive" %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>


<div class="benefits" style="margin-top: 60px;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row feature">
          <div class="col-md-6">
            <h3>We make your Twitter marketing efforts more efficient</h3>
            <p>
              Did you know that most of your tweets are seen only by a fraction of your followers. Wouldn't it be awesome if you could send personalized tweets to people who have shown an interest/need for your product?
            </p>
            <p>
              Urbanzeak is a unique platform that analyzes every tweet posted, understands the language used, extracts relevant meaning and finds people who have an interest/need for your product.
            </p>
          </div>
          <div class="col-md-6">
            <%= image_tag "find_tweet.png", class: "img-responsive" %>
          </div>
        </div>




        <div class="row feature">
          <div class="col-md-6">
            <h3>We extract meaning from tweets across twitter</h3>
            <p>
              Our language analysis algorithm can tell the difference between whether people really have a need for your product or whether they are posting random content.
            </p>
            <p>
              We go beyond traditional keyword based search filtering and ensure we analyze relevant social signals that indicates the need/interest depicted in tweets.
            </p>
          </div>
          <div class="col-md-6">
            <%= image_tag "algo.png", class: "img-responsive" %>
          </div>
        </div>

        <div class="row feature">
          <div class="col-md-6">
            <h3>You can now start engaging people that matter</h3>
            <p>
              Your dashboard is continuously updated with tweets from people near you that has shown a need/interest for your product.
            </p>
            <p>
              Start replying to these tweets to show your business exists!
            </p>
          </div>
          <div class="col-md-6">
            <%= image_tag "algo.png", class: "img-responsive" %>
          </div>
        </div>










      </div>
    </div>

  </div>
</div>



<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">


        <h3 class="text-center">Sign up today to be notified when we launch the app!</h3>

        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <!-- Begin MailChimp Signup Form -->

            <div id="mc_embed_signup">
              <form action="//urbanzeak.us8.list-manage.com/subscribe/post?u=589eee1b7d24dfc49b60166d9&amp;id=b7e1497b5c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">

                  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required style="width: 100%;padding: 10px 5px;">
                  <input type="text" value="" name="MMERGE1" class="" id="mce-MMERGE1" placeholder="Industry you cater to" required style="width: 100%; padding: 10px 10px; margin-bottom: 20px; margin-top: 10px;">
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;"><input type="text" name="b_589eee1b7d24dfc49b60166d9_9d1aeb77d4" tabindex="-1" value=""></div>
                  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
              </form>
            </div>

            <!--End mc_embed_signup-->
          </div>
        </div>



      </div>
    </div>
  </div>
</div>