<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <%= image_tag "urbanzeak-logo-webapp.png" %>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="login">
        <h1>Sign into Urbanzeak</h1>

        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "login-form" }) do |f| %>


          <% flash.each do |name, msg| %>
            <%= content_tag :section, msg, :id => "flash_#{name}", :class => "flash" %>
          <% end %>

          <%= devise_error_messages! %>


          <div class="form-group">
            <%= f.label :email%>
            <%= f.email_field :email, :class => "form-control", :autofocus => true %>
          </div>

          <div class="form-group">
            <%= f.label :password%>
            <%= f.password_field :password, :class => "form-control" %>
          </div>

          <div class="form-group">
            <%= link_to "Forgot password?", new_password_path('user') %>
            <%= link_to "Do not have an account?", root_path(:anchor => "footer"), style: "float: right;" %>
          </div>


          <%= f.submit "Login", :class => "btn btn_block btn_primary" %>

        <% end %>


      </div>
    </div>
  </div>
</div>

