<div class="row">
  <div class="col-md-12">
    <div class="grid simple ">

      <div class="grid-body ">


        <table class="table table-hover table-condensed" id="example">
          <thead>
          <tr>
            <th style="width:8%">Screen Name</th>
            <th style="width:2%">Priority</th>
            <th style="width:28%" data-hide="phone,tablet">Tweet</th>
            <th style="width:10%" data-hide="phone,tablet">Date</th>
          </tr>
          </thead>
          <tbody>

          <% @user_leads.each do |user_lead| %>
            <% lead = Lead.find(user_lead.lead_id)  %>
            <tr >

              <% if lead.klout_score.nil? %>
                <td class="v-align-middle"><%= lead.screen_name %></td>
              <% else %>
                <% if lead.klout_score > 40 %>
                  <td class="v-align-middle"><%= lead.screen_name %><span class="label label-info" style="margin-left: 10px;">INFLUENCER</span></td>
                <% else %>
                  <td class="v-align-middle"><%= lead.screen_name %></td>
                <% end %>
              <% end %>

              <td>
                <% if lead.priority == "high" %>
                  <span class="label label-success">HIGH</span>
                <% else %>
                  <span class="label">LOW</span>
                <% end %>
              </td>

              <td class="v-align-middle"><span class="muted"><%= lead.tweet %></span></td>
              <td class="v-align-middle"><span class="muted"><%= lead.created_at.strftime("%d %b") %></span></td>

            </tr>
          <% end %>



          </tbody>
        </table>


      </div>
    </div>
  </div>
</div>
