<!-- BEGIN PAGE TITLE -->
<div class="page-title">
  <h3 class="semi-bold">
    Users
  </h3>

</div>
<!-- END PAGE TITLE -->

<div class="row">
  <div class="col-md-12">
    <div class="grid simple">
      <div class="grid-body">
        <h3></h3>

        <div class="invite_user_form">

          <%= form_for User.new, :url => user_invitation_path, :html => {:method => :post} do |f| %>
            <%# devise_error_messages! %>

            <%= f.text_field :email, placeholder: "Email of user to invite" %>
            <%= f.submit "Invite User", class: "btn btn_primary", style: "width: inherit;" %>
          <% end %>

        </div>





        <table class="table table-hover table-condensed m-t-30" id="example">
          <thead>
          <tr>
            <th style="width:11%">Lead Stream</th>
            <th style="width:10%" data-hide="phone,tablet">Tweets Remaining</th>
            <th style="width:10%">Todays Leads</th>
            <th style="width:6%" data-hide="phone,tablet">Months Leads</th>
            <th style="width:12%" data-hide="phone,tablet">Replies</th>
          </tr>
          </thead>
          <tbody>

          <% @users.each do |user| %>
            <tr>
              <td colspan="5" class="bold"><%= user.email %></td>
            </tr>

            <% LeadStream.where(user_id: user.id).each do |lead_stream| %>
              <tr>
                <td style="border-top: none;">
                  <span class=""><%= lead_stream.name.nil? ? (lead_stream.city_name):(lead_stream.name) %></span>
                  <table>
                    <tr><td style="border: none" class="bold"><a href="#">Term</a></td></tr>
                    <tr><td style="border: none" class="bold"><a href="#">Term</a></td></tr>
                    <tr><td style="border: none" class="bold"><a href="#">Term</a></td></tr>
                    <tr><td style="border: none" class="bold"><a href="#">Term</a></td></tr>
                  </table>
                </td>
                <td style="border-top: none;">QC Tweets</td>
                <td style="border-top: none;">leads today</td>
                <td style="border-top: none;">month</td>
                <td style="border-top: none;">replies</td>

              </tr>
            <% end %>


          <% end %>





          </tbody>
        </table>



        <div class="opportunities m-t-100">

          <span>Column Order: (Tweets To QC)  (Todays Leads)  (Months Leads)   </span>

          <table class="table">
            <thead>
            <tr>
              <th>Email</th>
            </tr>
            </thead>



            <% @users.each do |user| %>

              <% lead_streams = LeadStream.where(user_id: user.id) %>



              <tr>
                <td>

                  <% if user.try(:is_active) %>
                    <%= user.email %>

                    <table>

                      <% lead_streams.each do |lead_stream| %>

                        <% keywords = Keyword.where(lead_stream_id: lead_stream.id) %>
                        <% keyword_ids = [] %>
                        <% keywords.each do |keyword| %>
                          <% keyword_ids << keyword.id %>
                        <% end %>
                        <% unprocessed_tweet_count = UnprocessedTweet.where(keyword_id: keyword_ids).where(processed: nil).count %>
                        <% leads_today = Lead.where(keyword_id: keyword_ids).where("created_at >= ?", Time.zone.now.beginning_of_day).count %>
                        <% leads_this_month = Lead.where(keyword_id: keyword_ids).past_month.count %>


                        <tr>
                          <td><a href="/admin/leads/qc_stream/<%= lead_stream.id %>" class="bold"><%= lead_stream.name.nil? ? lead_stream[:city_name]:lead_stream[:name] %></a></td>
                          <td><%= unprocessed_tweet_count %></td>
                          <td><%= leads_today %></td>
                          <td><%= leads_this_month %></td>
                        </tr>
                      <% end %>



                    </table>

                  <% else %>
                    <span class="" style="color: #999"><%= user.email %></span>
                  <% end %>


                </td>
                <td>
                  <% if LeadStream.where(user_id: user.id).count == 0 %>
                    <span class="error_indicator"></span>
                  <% end %>
                </td>

              </tr>
            <% end %>

          </table>

          <%= will_paginate %>

        </div>


      </div>
    </div>

  </div>
</div>





