<div class="page-header">
  <h1>
    Users
  </h1>

</div>


<div class="invite_user_form">

  <%= form_for User.new, :url => user_invitation_path, :html => {:method => :post} do |f| %>
    <%# devise_error_messages! %>

    <%= f.text_field :email, placeholder: "Email of user to invite" %>
    <%= f.submit "Invite User", class: "btn btn_primary", style: "width: inherit;" %>
  <% end %>

</div>


<div class="opportunities">
  <ul>

    <% @users.each do |user| %>
      <li>
        <div class="row">
          <div class="col-md-12">
            <div class="tweet">
            <span class="bold screen_name" style="margin-bottom: 10px;">
              <%= user.email %>
              <!--<span style="margin-left: 20px;" class="lead_count_indicator_positive">10</span>-->

              <% if user.sample_category_id.nil? %>
                <div class="set_sample_category">

                  <form action="">
                    <%= collection_select(:sample_category, :id, SampleCategory.all, :id, :name) %>
                    <input type="hidden" value="<%= user.id %>" name="sample_category[user_id]"/>
                    <a href="#" class="btn btn_secondary" style="width: inherit; margin-top: -20px; margin-left: 10px;">
                      Set Sample Data
                    </a>
                  </form>


                </div>
              <% else %>
                <% sample_category_name = SampleCategory.find(user.sample_category_id).name %>
                <span class="sample_category_name">
                  <span class="title">Sample Category </span>
                  <%= sample_category_name %>
                </span>
              <% end %>


            </span>
            <span class="opportunity_sub_items">

              <% lead_stream = LeadStream.where(user_id: user.id) %>

              <% if lead_stream.count == 0 %>
                <span class="highlight" style="color: #F6223F">No streams setup</span>
              <% else %>
                <% keywords = Keyword.where(lead_stream_id: lead_stream.first.id) %>

                <span class="highlight"><a href="/admin/users/lead_streams/<%= lead_stream.first.id %>" style="margin-right: 15px;">View Previous Leads</a></span>
                <% keywords.each do |keyword| %>
                  <span class="title" style="">Keyword</span>
                  <span class="highlight" style="margin-right: 15px;">

                    <% if keyword.archived == true %>
                      <%= keyword.term %>
                    <% else %>
                      <a href="/admin/users/lead_streams/keywords/<%= keyword.id %>">
                        <%= keyword.term %>
                      </a>
                    <% end %>


                    (last searched: <%= keyword.last_searched %>, Today's leads: <%= Lead.where(keyword_id: keyword.id).where("created_at >= ?", Time.zone.now.beginning_of_day).count %>, No. to QC: <%= UnprocessedTweet.where(keyword_id: keyword.id).where(processed: nil).count %> )
                  </span>
                <% end %>


                <span class="city"><span class="title">City</span> <span class="highlight"><%= lead_stream.first.city_name %></span></span>
              <% end %>


            </span>
            </div>
          </div>
        </div>
      </li>
    <% end %>



  </ul>
</div>
