<div ng-controller="UsersCtrl">

  <div class="filters">

  </div>


  <div class="row">
    <div class="col-md-5 user_list">
      <h3 style="background: #B6C2C9">
        Users
        <!--<span style="float: right;"><a href="" class="btn btn-warning btn-cons">No Leads</a></span>-->
      </h3>
      <ul>
        <li ng-repeat="user in users" class="" ng-click="setSelectedUser(user)">
          <%= image_tag "avatar_small.jpg", height: 35, width: 35, class: "img-circle" %>
          <span class="bold">{{user.email}}</span>
          <div class="indicators">
            <span class="label" ng-show="user.subscribed == false">TRAIL</span>
            <div class="danger-indicator img-circle" ng-show="user.no_leads == true"></div>
          </div>
        </li>
      </ul>

    </div>
    <div class="col-md-7 user_info">
      <h3 class="bold">{{selectedUser.email}}</h3>
      <div class="">
        <div class="row">
          <div class="col-md-4">Signed Up On <span class="bold">{{selectedUser.signup_date | date:'dd/MM/yyyy'}}</span></div>
          <div class="col-md-4" ng-show="selectedUser.subscribed == false">Trail Days Remaining <span class="bold">{{selectedUser.days_remaining}}</span></div>
          <div class="col-md-4">
            <span class="label label-success" style="text-transform: uppercase" ng-show="selectedUser.subscribed != false">Subscribed</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered ">
              <tr>
                <th>Stream Name</th>
                <th>Leads Today</th>
              </tr>
              <tr ng-repeat="leadStream in leadStreams | filter:{user_id: selectedUser.id}">
                <td>{{leadStream.name}}</td>
                <td>{{leadStream.leads}}</td>
              </tr>
            </table>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

































<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="row">
  <div class="col-md-12">
    <div class="grid simple ">

      <div class="grid-body ">


        <table class="table table-hover table-condensed users_table" id="example">
          <thead>
          <tr>
            <th style="width:11%">Email</th>
            <th style="width:8%">Last sign in</th>
            <th style="width:30%" data-hide="phone,tablet">Streams</th>
          </tr>
          </thead>
          <tbody>

          <% @users.each do |user| %>
            <% lead_streams = LeadStream.where(user_id: user.id) %>
            <tr >
              <td class="v-align-middle"><%= user.email %></td>

              <% if user.last_sign_in_at.nil? %>
                <td class="v-align-middle">Account not created through the ui</td>
              <% else %>
                <% last_sign_in_date = user.last_sign_in_at %>
                <td class="v-align-middle"><%= human_date(last_sign_in_date) %></td>
              <% end %>
              <td class="v-align-middle">
                <span class="muted"></span>
                <ul>
                  <% lead_streams.each do |lead_stream|  %>
                    <% city = City.find(lead_stream.city_id) %>
                    <% category = Category.find(lead_stream.category_id) %>
                    <li>
                      <%= lead_stream.id %> | <%= category.capitalized_name %> in <%= city.capitalized_name %>
                      <% leads_today = UserLead.where(user_id: user.id).where(lead_stream_id: lead_stream.id).where("created_at >= ?", Time.zone.now.beginning_of_day).count %>
                      <% leads_this_month = UserLead.where(user_id: user.id).where(lead_stream_id: lead_stream.id).where(:created_at => Time.now.beginning_of_month..Time.now.end_of_month).count %>
                      <% if leads_today > 0 %>

                        <% if leads_this_month > 0 %>
                          <span class="label label-success pull-right"><%= leads_today %></span>
                          |
                          <span class="label label-inverse pull-right"><%= leads_this_month %></span>
                        <% else %>
                          <span class="label label-success pull-right"><%= leads_today %></span>
                          |
                          <span class="label label-important pull-right">0</span>
                        <% end %>
                      <% else %>
                        <% if leads_this_month > 0 %>
                          <span class="label label-important pull-right">0</span>
                          |
                          <span class="label label-inverse pull-right"><%= leads_this_month %></span>
                        <% else %>
                          <span class="label label-important pull-right">0</span>
                          |
                          <span class="label label-important pull-right">0</span>
                        <% end %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </td>
            </tr>
          <% end %>



          </tbody>
        </table>


      </div>
    </div>
  </div>
</div>
