<!-- BEGIN PAGE TITLE -->
<div class="page-title">
  <h3 class="semi-bold">
    Users
  </h3>

</div>
<!-- END PAGE TITLE -->

<div class="row">
  <div class="col-md-12">
    <div class="grid simple">
      <div class="grid-body">
        <h3></h3>

        <div class="invite_user_form">

          <%= form_for User.new, :url => user_invitation_path, :html => {:method => :post} do |f| %>
            <%# devise_error_messages! %>

            <%= f.text_field :email, placeholder: "Email of user to invite" %>
            <%= f.submit "Invite User", class: "btn btn_primary", style: "width: inherit;" %>
          <% end %>

        </div>


        <div class="opportunities">

          <table class="table">
            <thead>
            <tr>
              <th>Email</th>
              <th></th>
              <th>QC</th>
              <th>Todays</th>
              <th>Months</th>
              <th>Replies</th>
              <th></th>
            </tr>
            </thead>



            <% @users.each do |user| %>

              <% lead_streams = LeadStream.where(user_id: user.id) %>



              <tr>
                <td>

                  <% if user.try(:is_active) %>
                    <%= user.email %>

                    <table>

                      <% lead_streams.each do |lead_stream| %>
                        <tr>
                          <td><a href="/admin/leads/qc_stream/<%= lead_stream.id %>" class="bold"><%= lead_stream.name.nil? ? lead_stream[:city_name]:lead_stream[:name] %></a></td>
                          <td>Test</td>
                          <td>Test</td>
                        </tr>
                      <% end %>



                    </table>

                  <% else %>
                    <span class="" style="color: #999"><%= user.email %></span>
                  <% end %>


                </td>
                <td>
                  <% if LeadStream.where(user_id: user.id).count == 0 %>
                    <span class="error_indicator"></span>
                  <% end %>
                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>
                </td>
                <td>

                </td>
              </tr>
            <% end %>

          </table>

          <%= will_paginate %>

        </div>


      </div>
    </div>

  </div>
</div>





