<div class="page-header">
  <h1>Opportunities</h1>
</div>

<div class="opportunities">
  <ul>

    <% if @leads_available %>
      <% @leads.each do |lead| %>

        <% if lead.created_at.to_date == Date.current %>
          <li>
        <% else %>
          <li class="read">
        <% end %>

          <div class="row">
            <div class="col-md-1">

              <% if lead.poster_profile_image_url.nil? %>
                <%= image_tag "no-profile-pic.png", class: "img-responsive" %>
              <% else %>
                <img src="<%= lead.poster_profile_image_url %>" alt="" class="img-responsive">
              <% end %>


            </div>
            <div class="col-md-9">
              <div class="tweet">
                <span class="bold screen_name">
                  <a href="http://www.twitter.com/<%= lead.poster_screen_name %>">
                    @<%= lead.poster_screen_name %>
                  </a>
                </span>
                <%= lead.tweet_body %>
              </div>
            </div>
            <div class="col-md-2">
              <div class="actions" id="<%= lead.id %>">
                <div class="reply_sent_status_hidden">
                  <%= image_tag "done-icon.png", class: "img-responsive" %>
                </div>
                <a href="#" class="btn btn_primary btn_block reply" class="navbar-toggle toggle-right" data-toggle="sidebar" data-target=".sidebar-right" data-screen-name="<%=  lead.poster_screen_name%>" data-lead-id="<%= lead.id %>">Reply</a>
                <a href="#" class="btn btn_alert btn_block not_lead" style="margin-top: 10px;" data-lead-id="<%= lead.id %>">Not a lead</a>
              </div>
            </div>
          </div>
          <div class="row opportunity_sub_items">
            <div class="col-md-10 col-md-offset-1">
              <% if !(lead.friends_count.nil? || lead.followers_count.nil?) %>
                <span class="title">Friends</span> <span class="highlight"><%= lead.friends_count %></span>
                <span class="title">Followers</span> <span class="highlight"><%= lead.followers_count %></span>
              <% end %>
              <span class="title">Posted On</span> <span class="highlight"><%= lead.created_at.strftime('%e %B %Y') %></span>
            </div>
          </div>
        </li>
      <% end %>
    <% else %>

      <% @sample_leads.each do |sample_lead| %>
        <li>
          <div class="row">
            <div class="col-md-1">
              <%= image_tag "no-profile-pic.png", class: "img-responsive" %>
            </div>
            <div class="col-md-9">
              <div class="tweet">
                <span class="bold screen_name"><a href="#" class="sample">@<%= sample_lead.screen_name %></a></span>
                <%= sample_lead.tweet %>
              </div>
            </div>
	    <div class="col-md-2">
              <div class="actions">
                <div class="reply_sent_status_hidden">
                  <%= image_tag "done-icon.png", class: "img-responsive" %>
                </div>
                <a href="#" class="btn btn_primary btn_block sample" class="navbar-toggle toggle-right">Reply</a>
                <a href="#" class="btn btn_alert btn_block sample" style="margin-top: 10px;" >Not a lead</a>
              </div>
            </div>
          </div>
          <div class="row opportunity_sub_items">
            <div class="col-md-10 col-md-offset-1">
              <span class="title">Posted On</span> <span class="highlight"><%= sample_lead.created_at.strftime('%e %B %Y') %></span>
            </div>
          </div>
        </li>
      <% end %>

    <% end %>


    <div id="infinite-scrolling">
      <%= will_paginate %>
    </div>

  </ul>
</div>


<% if @new_user  %>
  <% content_for :join_message do %>
    <script type="text/javascript" charset="utf-8">

      $(document).ready(function(){
        //var inst = $.remodal.lookup[$('[data-remodal-id=modal]').data('remodal')];
        //inst.open();

      });

    </script>
  <% end %>

<% end %>

