<div class="page-header">
  <h1>Opportunities</h1>
</div>
<p class="lead">
  An explanation about this section comes up here. This might be shown only once or it can be shown permanently i.e. people cannot dismiss this section.
</p>

<div class="opportunities">
  <ul>
    <% @leads.each do |lead| %>
      <li>
        <div class="row">
          <div class="col-md-1">
            <img src="<%# lead.poster_profile_image_url %>" alt="" class="img-responsive">
          </div>
          <div class="col-md-9">
            <div class="tweet">
              <span class="bold screen_name"><a href="#">@<%= lead.screen_name %></a></span>
              <%= lead.tweet_body %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="actions" id="<%= lead.id %>">
              <div class="reply_sent_status_hidden">
                <%= image_tag "done-icon.png", class: "img-responsive" %>
              </div>
              <a href="#" class="btn btn_primary btn_block reply" class="navbar-toggle toggle-right" data-toggle="sidebar" data-target=".sidebar-right" data-screen-name="<%=  lead.screen_name%>" data-lead-id="<%= lead.id %>">Reply</a>
              <a href="#" class="btn btn_alert btn_block not_lead" style="margin-top: 10px;" data-lead-id="<%= lead.id %>">Not a lead</a>
            </div>
          </div>
        </div>
        <div class="row opportunity_sub_items">
          <div class="col-md-10 col-md-offset-1">
            <span class="title">Posted On</span> <span class="highlight"><%= lead.created_at.strftime('%e %B %Y') %></span>
          </div>
        </div>
      </li>
    <% end %>



  </ul>
</div>