<%= render "dashboard/navbar" %>



<% if @leads.blank? %>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="empty_state_container">
          <h4>
            <%= image_tag "status_available.png" %>
            <br/>
            Setup successful completed!
          </h4>
          <p>
            We have begun collecting tweets and it will take 24 hours to collect and find the best leads for you. Come back every day to see new leads
          </p>

        </div>
      </div>
    </div>
  </div>

<% else %>
  <div class="page_heading_container">
    <div class="container">
      <div class="row">

        <div class="col-md-8 col-md-offset-2">

          <% if flash[:error] %>
            <div class="alert alert-error">
              <strong><%= flash[:error] %></strong>
            </div>
          <% end %>
          <% if flash[:success] %>
            <div class="alert alert-success">
              <strong><%= flash[:success] %></strong>
            </div>
          <% end %>


          <h1>Leads</h1>
        </div>
      </div>
    </div>
  </div>


  <%= render 'dashboard/leads/leads' %>
<% end %>

