<!-- BEGIN PAGE TITLE -->
<div class="page-title">
  <h3 class="semi-bold" style="width: 100%;">
    Leads
    <% if @leads_available != false && current_user.active_beta_feature == "export" %>
      <a href="/dashboard/leads/<%= @lead_stream.id %>.csv" class="btn btn-success btn-cons" style="float: right;">Export All Leads To CSV</a>
  <% end %>

  </h3>
</div>
<!-- END PAGE TITLE -->
<!-- BEGIN PlACE PAGE CONTENT HERE -->
<% if @leads_available == false %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="alert alert-block fade in text-center">
        <button type="button" class="close" data-dismiss="alert"></button>
        <h4 class="alert-heading"><i class="icon-warning-sign"></i> No Leads Yet!</h4>
        <p>
          Looks like we haven't found any leads for this stream yet. We will send you an email as soon as we do.
        </p>
      </div>
    </div>
  </div>
<% else %>
  <div class="row tiles-container m-b-10">
    <div class="col-md-12">

      <%# link_to 'Download CSV list', dashb_path(format: :csv) %>

      <div class="m-l-10 ">
        <% @leads.each do |lead| %>
          <div class="tiles white ">
            <div class="p-t-20 p-b-15 b-b b-grey">

              <div class="post overlap-left-10">
                <div class="user-profile-pic-wrapper">
                  <div class="user-profile-pic-2x white-border">
                    <%= image_tag lead.poster_profile_image_url.nil? ? "no-profile-pic.png":"#{lead.poster_profile_image_url}", height: "45", width: "45" %>

                  </div>
                </div>
                <div class="info-wrapper small-width inline">
                  <div class="info text-grey ">
                    <p>
                      <a href="http://www.twitter.com/<%= lead.poster_screen_name %>">@<%= lead.poster_screen_name %></a> -
                      <a href="http://www.twitter.com/<%= lead.poster_screen_name %>/status/<%= lead.tweet_id %>" class="btn btn-white btn-xs btn-mini">View on Twitter</a>
                      <a href="" class="btn btn-white btn-xs btn-mini poster_description_btn" data-lead-id="<%= lead.id %>">View Poster Description</a>

                    </p>


                    <p style="color: #576477">
                      <%= auto_link(lead.tweet_body) %>
                    </p>
                    <p class="muted  small-text">
                      <%= lead.created_at.pretty %>
                      |
                      Followers: <%= lead.poster_follower_count %>
                      |
                      Friends: <%= lead.poster_friends_count %>
                      |
                      Location: <%= lead.location %>
                      <% if @gender_beta_active %>
                      |
                      Gender: <%# lead.gender %>
                        <% if lead.gender == 'female' %>
                          <i class="fa fa-venus" style="color: #D10D7C; font-weight: bold; font-size: 1.2em"></i>
                        <% elsif lead.gender == 'mostly_female' %>
                          <i class="fa fa-venus" style="color: #D10D7C; font-weight: bold; font-size: 1.2em"></i>
                        <% elsif lead.gender == 'male' %>
                          <i class="fa fa-mars-stroke" style="color: #1764AE; font-weight: bold; font-size: 1.2em"></i>
                        <% elsif lead.gender == 'mostly_male' %>
                          <i class="fa fa-mars-stroke" style="color: #1764AE; font-weight: bold; font-size: 1.2em"></i>
                        <% else %>
                          Unknown
                        <% end %>


                      <% end %>
                    </p>

                    <p style="font-size: .9em; display: none;" class="poster_description" id="poster_description_<%= lead.id %>">
                      <%= lead.description %>
                    </p>

                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="inline pull-right">
                  <div class="tiles white p-t-5 p-l-5 p-b-5 p-r-5 inline">

                    <% follow = Follow.where(twitter_screen_name: lead.poster_screen_name).where(user_id: current_user.id).count %>
                    <% if follow > 0 %>
                      <span class="label label-success">Following</span>
                    <% else %>
                      <button class="btn follow_btn tip" data-id="<%= lead.id %>" data-original-title="Follow" type="button" data-toggle="tooltip" title=""><i class="fa fa-user-plus"></i></button>
                    <% end %>



                    <% tweet_replies = TweetReply.where(tweet_id: lead.tweet_id).where(user_id: current_user.id).count %>
                    <% if tweet_replies > 0 %>
                      <i class="fa fa-check-circle" style="font-size: 39px; color: #0aa699"></i>
                    <% else %>
                      <button class="btn reply_btn tip" data-id="<%= lead.id %>" data-original-title="Reply" type="button" data-toggle="tooltip" title=""><i class="fa fa-reply"></i></button>
                    <% end %>

                  </div>
                </div>
                <div class="clearfix"></div>
              </div>






              <div class="post overlap-left-10 m-t-20 message_container"  style="display: none" id="<%= lead.id %>">
                <div class="info-wrapper small-width inline" style="margin-left: 65px;">
                  <div class="info text-grey ">
                    <div class="alert alert-error send_reply_error" style="display: none;">
                      Danger:&nbsp; <span id="reply_error_message"></span>
                    </div>
                    <input placeholder="You can put anything here" class="form-control reply_input_box" type="text">
                    <a href="#" class="btn btn-primary m-t-20 send_message" data-id="<%= lead.id %>">Send Message</a>
                    <a href="#" class="btn m-t-20 m-l-10 cancel_reply">Cancel</a>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
              </div>


            </div>
          </div>
        <% end %>
        <div class="tiles white p-t-5 p-b-5 ">
          <div id="infinite-scrolling" style="float: right;">
            <%= will_paginate %>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>




    </div>
  </div>
<% end %>

<!-- END PLACE PAGE CONTENT HERE -->

