<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Helping small businesses sell faster</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Katemi - Clean Responsive Product, Service and App Landing Page built with Bootstrap 3.0.3" />
  <meta name="author" content="Works of Wisnu" />

  <!-- Le styles -->
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,400italic,500italic" rel="stylesheet" type="text/css" />    <!-- Google Web Fonts - Roboto -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/ico/apple-touch-icon-144-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/ico/apple-touch-icon-114-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/ico/apple-touch-icon-72-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" href="img/ico/apple-touch-icon-57-precomposed.png" />
  <link rel="shortcut icon" href="img/ico/favicon.png" />

</head>

<body>
<!-- Begin Main Container Section -->
<div id="home" class="main-container">

<!-- Top Nav -->
<section id="top-nav">

  <div class="katemi-nav navbar navbar-inverse navbar-fixed-top" role="navigation">

    <div class="navbar-header">

      <!--<a class="navbar-brand" href="#"><img src="img/logo.png" alt="logo" class="img-responsive" /></a>-->
      <%= link_to image_tag("logo.png", :class => "img-responsive"), "/", :class => "navbar-brand" %>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div> <!--/ .navbar-header -->

    <div class="container">

      <div class="navbar-collapse collapse">
        <ul class="nav nav-pills pull-right navbar-nav">
          <li class="active"><a href="#home">Home</a></li>
          <li><a href="#marketing">Overview</a></li>
          <li><a href="#pricing">Pricing</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#lower-content">Contact</a></li>
        </ul>
      </div><!--/.navbar-collapse -->

    </div> <!--/ .container -->

  </div> <!--/ .katemi-nav .navbar -->

</section>
<!--/ #top-nav-->


<!-- Head Banner Section -->
<section id="head-banner" class="dark-bg">

  <div class="container">

    <div class="row">

      <div class="col-md-12" id="tour-1">
        <h1 class="tagline centered normal">
          We help <span class="bolder">small business owners</span> find customers fast
        </h1>
        <h3 class="centered lighter">
          We analyze millions of tweets everyday, using our revolutionary algorithm to find people in your city interested in your services
        </h3>
      </div>

      <div class="col-md-12 head-cta">
        <div class="row">

          <div class="col-md-7 col-sm-7 col-xs-7">
            <!--<a href="#" id="startTourBtn" class="medium-btn btn-default green-btn btn-default pull-right">Find customers now!</a>-->
            <%= link_to "Find customers now!", new_user_registration_path, :class => "medium-btn btn-default green-btn btn-default pull-right" %>
          </div>

        </div>
      </div> <!--/ .head-cta -->

      <div class="col-md-12 product-teaser">

        <div class="row">

          <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3" id="tour-2">
            <!--<img class="center-image img-responsive" src="img/ss.png" alt="product-teaser" />-->
            <%= image_tag "header-image.png", :class => "center-image img-responsive" %>
            </a>
          </div>


        </div> <!--/ .row -->

      </div> <!--/ .product-teaser -->


    </div> <!--/ .row -->

  </div> <!-- / .container -->

</section>
<!--/ #head-banner -->


<!-- Marketing Section -->
<section id="marketing" style="margin-top: 60px;">

  <div class="container">

    <div class="row">

      <div class="col-md-12 col-sm-12 centered section-title-wrapper">
        <h3 class="section-title">How it Works</h3>
      </div> <!~-/ .section-title-wrapper -->

      <div class="col-md-3 col-sm-3 marketing-content centered">
        <%= image_tag "join.png", :class => "marketing-icon" %>
        <h5>Join</h5>
        <p>Sign up for an account in 2 minutes and start receiving leads immediately.</p>
      </div> <!--/ .marketing-content -->

      <div class="col-md-3 col-sm-3 marketing-content centered">
        <%= image_tag "analyze.png", :class => "marketing-icon" %>
        <h5>Analyze</h5>
        <p>Every minute of every day, we collect tweets and analyze it to find people in your city who are  interested in your services
          .</p>
      </div> <!--/ .marketing-content -->

      <div class="col-md-3 col-sm-3 marketing-content centered">
        <%= image_tag "show-3.png", :class => "marketing-icon" %>
        <h5>Show</h5>
        <p>See your entire list of prospects on an interactive dashboard.</p>
      </div> <!--/ .marketing-content -->

      <div class="col-md-3 col-sm-3 marketing-content centered">
        <%= image_tag "sell.png", :class => "marketing-icon" %>
        <h5>Sell</h5>
        <p>Click on the user and start selling.</p>
      </div> <!--/ .marketing-content -->

    </div> <!--/ .row -->

  </div> <!-- / .container -->

</section>
<!--/ #marketing -->


<!-- Horizontal Line -->
<div class="container">

  <div class="row">

    <div class="col-md-12">
      <hr class="content-hr" />
    </div>

  </div> <!--/ .row -->

</div> <!--/ .container -->
<!--/ END Horizontal Line -->




<!-- Lower Content Section -->
<section id="pricing">

  <div class="container">

    <div class="row">

      <div class="col-md-12 centered section-title-wrapper">
        <h3 class="section-title"><span class="normal">Pricing</span></h3>
      </div> <!--/ .section-title-wrapper -->


      <div class="col-md-4 col-sm-4 pricing-table centered col-md-offset-4 col-sm-offset-4">
        <div class="pricing-head">

          <h5>Coral</h5>
          <div class="the-price">
            <h1>$59<span class="subscript">/mo</span></h1>
            <small>7 days FREE trial</small>
          </div> <!--/ .the-price -->

        </div> <!--/ .pricing-head -->

        <div class="pricing-content">
          <ul>
            <li>Unlimited leads</li>
            <li>Real time reporting</li>
            <li>Geo targeting</li>
            <li>Customer engagement</li>
            <li>Account support</li>
          </ul>
        </div> <!--/ .pricing-content -->

        <div class="pricing-table-button">
          <!--<a href="#" class="small-btn btn-default green-btn btn-default uppercase">Sign Up</a>-->
          <%= link_to "Sign up", new_user_registration_path, :class => "small-btn btn-default green-btn btn-default uppercase" %>
        </div>


      </div> <!--/ .pricing-table -->

    </div> <!--/ .row -->

  </div> <!-- / .container -->

</section>
<!--/ #lower-content -->




<!-- Horizontal Line -->
<div class="container">

  <div class="row">

    <div class="col-md-12">
      <hr class="content-hr" />
    </div>

  </div> <!--/ .row -->

</div> <!--/ .container -->
<!--/ END Horizontal Line -->



<!-- Marketing Section -->
<section id="about" style="margin-top: 60px;">

  <div class="container">

    <div class="row">

      <div class="col-md-12 col-sm-12 centered section-title-wrapper">
        <h3 class="section-title">Get to know us</h3>
        <p class="section-subtitle">
          Founded in 2014, Urbanzeak helps small business owners to find customers and sales opportunities          from different social networks.

        </p>
        <p class="section-subtitle">
          After tinkering with couple of previous companies, this privately funded team based out of California spends most of their time amongst terabytes of data, mystic computational algorithms and ever-esoteric natural language processors.
        </p>
        <p class="section-subtitle">
          Just to keep it simple and easy – we just call our crazy and complex algorithmic process; our 'Secret Sauce'
        </p>

      </div> <!~-/ .section-title-wrapper -->

      <div class="col-md-12 col-sm-12 centered ">
        <h4 class="section-title">Three things we believe in</h4>

      </div> <!~-/ .section-title-wrapper -->


      <div class="col-md-4 col-sm-4 marketing-content centered">
        <h5>We love small businesses</h5>
        <p>
          Small businesses are struggling to to learn the science of selling using social media. Often many of them fall prey to expensive social media marketing agencies. Our product exists to help you guys find your customers using social media.
        </p>
      </div> <!--/ .marketing-content -->

      <div class="col-md-4 col-sm-4 marketing-content centered">

        <h5>Keep it Simple</h5>
        <p>
          We like to keep everything easy, simple and effective ! We focus on one thing: to find awesome prospects for you. Don't bother too much if you are not happy with the color palette of the homepage or the font used.

          .</p>
      </div> <!--/ .marketing-content -->

      <div class="col-md-4 col-sm-4 marketing-content centered">
        <h5>We love our customers</h5>
        <p>We strive to ensure every customer onboard Urbanzeak have a remarkable experience. Just call us or write to us and we will be there to help you out 24/7.</p>
      </div> <!--/ .marketing-content -->


      <div class="col-md-12 col-sm-12 centered ">
        <h4 class="section-title">Meet the team</h4>

      </div> <!~-/ .section-title-wrapper -->

      <div class="col-md-6 col-sm-6 marketing-content centered">
        <h5>Akhilesh Kumar - Chief Hustler </h5>
        <p style="font-style: italic">
          The guy thirsting for the craziest sale!
        </p>
        <p>
          I am the guy who does all the talking!
        </p>
      </div> <!--/ .marketing-content -->

      <div class="col-md-6 col-sm-6 marketing-content centered">
        <h5>Prashant Angyan - Chief Hacker</h5>
        <p style="font-style: italic">
          The guy who does the crazy stuff
        </p>
        <p>I am the guy for whom Python is no longer a snake, Ruby is no longer a gem and Java no longer a coffee.</p>
      </div> <!--/ .marketing-content -->


      <div class="col-md-12 col-sm-12 centered ">
        <h4 class="section-title">Our first investors</h4>

      </div> <!~-/ .section-title-wrapper -->

      <div class="col-md-6 col-sm-6 marketing-content centered">
        <h5>Ron Katz</h5>
        <p>
          Ron Katz, a PhD from the University of California, Berkley is the founder and President of Netcom Data Corp., the first U.S. company to be certified by MasterCard International as an independent Member Service Provider. He has served as a ranking aide to the California State Senate, representing Silicon Valley and currently on the board of several organizations. Ron is a proud author of two patents and his articles have been published in prestigious business publications. He is currently working as a managing partner of an international lodging and tourism company which he co-founded.
        </p>
      </div> <!--/ .marketing-content -->

      <div class="col-md-6 col-sm-6 marketing-content centered">
        <h5>Jules Kragen</h5>
        <p>
          Jules Kragen, a J.D from Hastings college of law advises and invests in emerging businesses across a wide spectrum of industries. He has previously served as a CEO for an international coffee & organic foods distributor. Currently Jules has founded an innovative travel & experience company and is also on hte board of directors for Alameda County Meals on Wheels.
        </p>
      </div> <!--/ .marketing-content -->


    </div> <!--/ .row -->

  </div> <!-- / .container -->

</section>
<!--/ #marketing -->



<!-- Horizontal Line -->
<div class="container">

  <div class="row">

    <div class="col-md-12">
      <hr class="content-hr" />
    </div>

  </div> <!--/ .row -->

</div> <!--/ .container -->
<!--/ END Horizontal Line -->

<section id="lower-content" style="margin-top: 60px;">

  <div class="container">

    <div class="row">

      <div class="col-md-12 col-sm-12 centered section-title-wrapper">
        <h3 class="section-title">Contact Us</h3>
        <p class="section-subtitle">
          If you have any questions or if you just want to talk, get in touch with us.
        </p>

      </div> <!~-/ .section-title-wrapper -->


      <div class="col-md-6 col-sm-6 marketing-content centered col-md-offset-3 col-sm-offset-3">

        <h5>Our Address</h5>

        <address>
          <strong>Urbanzeak Inc.</strong><br>
          1056, Monterery Avenue<br>
          Berkley, California 93940<br>
          <abbr title="Phone">P:</abbr> +1-201-895-8093<br/>
          <abbr title="Email">E:</abbr> <a href="mailto:support@urbanzeak.com">support@urbanzeak.com</a>
        </address>

      </div> <!--/ .marketing-content -->



    </div> <!--/ .row -->

  </div> <!-- / .container -->

</section>


<!-- Horizontal Line -->
<div class="container">

  <div class="row">

    <div class="col-md-12">
      <hr class="content-hr" />
    </div>

  </div> <!--/ .row -->

</div> <!--/ .container -->
<!--/ END Horizontal Line -->

<!-- Footer Section -->
<section id="footer">

  <div class="container">

    <div class="row">

      <div class="col-md-6 col-sm-6">
        <p class="copyright">
          Urbanzeak© copyright 2013. all rights reserved | Read our <%= link_to "Privacy Policy", policies_privacy_policy_path %>
        </p>
      </div>

      <div class="col-md-6 col-sm-6">

      </div>

    </div> <!--/ .row -->

  </div> <!-- / .container -->

</section>
<!--/ #footer -->

</div>
<!--/ END Main Container -->

<!-- Le javascript==================================================-->

</body>

</html>