<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <!-- TITLE OF SITE -->
  <title>Urbanzeak | Twitter marketing simplified</title>

  <meta name="description" content="Responsive Landing Page for Presenting Your Startup: Saas, Mobile or Web Application" />
  <meta name="keywords" content="smartmvp, startup theme, startup template, startup example, startup landing page, one page, responsive, app landing, html template, mobile application, responsive landing page" />
  <meta name="author" content="ThemeDept">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- FAVICON  -->
  <%= favicon_link_tag %>

  <!-- =========================
     STYLESHEETS
  ============================== -->

  <!-- GOOGLE FONTS -->
  <link href="http://fonts.googleapis.com/css?family=Raleway:300,400,600,700%7COpen+Sans:300,400,600,700%7CHandlee" rel="stylesheet">

  <%= stylesheet_link_tag "website/application" %>

  <!--[if lt IE 9]>
  <script src="assets/js/plugins/html5shiv.min.js"></script>
  <script src="assets/js/plugins/respond.min.js"></script>
  <![endif]-->

  <%= csrf_meta_tag %>

</head>

<body>

<%= yield %>


<!-- =========================
     SCRIPTS
============================== -->

<%= javascript_include_tag "website/application" %>


</body>
</html>