<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <!-- TITLE OF SITE -->
  <title>Urbanzeak | Twitter marketing simplified</title>

  <meta name="description" content="Responsive Landing Page for Presenting Your Startup: Saas, Mobile or Web Application" />
  <meta name="keywords" content="smartmvp, startup theme, startup template, startup example, startup landing page, one page, responsive, app landing, html template, mobile application, responsive landing page" />
  <meta name="author" content="ThemeDept">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- FAVICON  -->
  <%= favicon_link_tag %>

  <!-- =========================
     STYLESHEETS
  ============================== -->

  <!-- GOOGLE FONTS -->
  <link href="http://fonts.googleapis.com/css?family=Raleway:300,400,600,700%7COpen+Sans:300,400,600,700%7CHandlee" rel="stylesheet">

  <%= stylesheet_link_tag "website/application" %>

  <!--[if lt IE 9]>
  <script src="assets/js/plugins/html5shiv.min.js"></script>
  <script src="assets/js/plugins/respond.min.js"></script>
  <![endif]-->

  <% if Rails.env.production? %>
    <%= render "layouts/tracking_codes" %>
  <% end %>


  <%= csrf_meta_tag %>

</head>

<body>

<%= yield %>






<!-- =========================
     SCRIPTS
============================== -->

<%= javascript_include_tag "website/application" %>


<script>window.twttr = (function (d, s, id) {
  var t, js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src= "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
  return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
}(document, "script", "twitter-wjs"));</script>



<script type="text/javascript" charset="utf-8">
  twttr.ready(function(twttr) {
    twttr.events.bind('tweet', function(event) {
      //add ur post tweet stuff here
      // Sending data to the server once a user has shared a post with their network
      var email = $('#email_entered').val();
// Posting the email to the server to be stored
      $.ajax({
        url: "/beta_signups",
        type: "POST",
        data: {beta_signup: {
          email: email}},
        success: function(resp){
          console.log("Congratulations you should get an invite in the next 24 hours!");

          $('#shareModal .modal-body .box').hide(500);
          $('#shareModal .modal-body').append('<p style="font-weight: bold">Thanks for sharing! You will get an invite in the next 24 hours!</p>');


        }
      });

    });
  });

</script>


<!-- ADDING THIS CODE HERE TO PREVENT THE TRACKIGN CODE VARIABLE FROM GETTING MINIFIED -->
<script type="text/javascript" charset="utf-8">

  "use strict";

  /* =====================================
   EMAIL SUBMIT
   ======================================== */

  var clicky_custom = {};
  
  $(function() {
    $('#signup-divider').submit(function(e) {
      e.preventDefault();
    }).validate({
      rules: {
        email: {
          required: true,
          email: true
        }
      },
      messages: {
        email: {
          required: "No email! Cannot signup!"
        }
      },
      errorElement : 'div',
      errorLabelContainer: '#errorTxt',
      submitHandler: function(form) {

        var data_to_submit = {email: $('#signup-email').val()};

        $("#join_now").attr('disabled','disabled');

        $.ajax({
          url : "/website_email",
          type: "POST",
          data : data_to_submit,
          success: function(data, textStatus, jqXHR)
          {
            $('#submit-error').fadeOut();
            $('#submit-success').fadeIn();


            console.log(data.email);

            $('#email_entered').val(data.email);

            clicky_custom.goal = { name: 'Email Left On Homepage' };

            openLoginModal();


          },
          error: function (jqXHR, textStatus, errorThrown)
          {
            $('#submit-error').fadeIn();
            $("#join_now").removeAttr('disabled');
            $('#error_reason').text($.parseJSON(jqXHR.responseText)[0]);
          }
        });




        /*

         $(form).ajaxSubmit({
         type:"POST",
         data: $(form).serialize(),
         url:"/dashboard/notifications/set_user_website",
         success: function() {
         $('#contact :input').attr('disabled', 'disabled');
         $('#contact').fadeTo( "slow", 0.15, function() {
         $(this).find(':input').attr('disabled', 'disabled');
         $(this).find('label').css('cursor','default');
         $('#success').fadeIn();
         });
         },
         error: function() {

         }
         });
         */
        return false;

      }
    });
  });


</script>


<% if Rails.env.production? %>
  <%= render 'layouts/page_bottom_tracking_codes' %>
<% end %>

</body>
</html>